@model IEnumerable<RentalHome.Models.ContactDetail>

@{
    ViewBag.Title = "ViewAllContact";
}

<h2>All Queries </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>Delete</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            <p class="btn btn-warning">  @Html.ActionLink("Delete", "Delete", new { id = item.id })</p>
        </td>
    </tr>
}

</table>

<a href="@Url.Action("Valid","AdminLogin")" class="btn btn-default">Back to Dashboard </a>